<!DOCTYPE html>
<html>
<head>
	<title>Product Details</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	{{> partials/htmlHead }}
</head>
<body>
{{> partials/header }}

<section class="hero-section position-relative padding-small"
		 style="background-image: url(/images/background_cover.jpg); background-size: cover; background-repeat: no-repeat; background-position: center;">
	<div class="hero-content">
		<div class="container">
			<div class="row">
				<div class="text-center">
					<h1>Product Details</h1>
					<div class="breadcrumbs">
                        <span class="item">
                            <a href="index.html">Home > </a>
                        </span>
						<span class="item text-decoration-underline">Product Details</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{{#plushie}}
<section class="single-product padding-medium">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="d-flex gap-3 product-preview">
					<div class="swiper thumb-swiper w-50">
						<div class="swiper-wrapper d-flex flex-wrap gap-3 align-content-start">
							<div class="swiper-slide bg-white">
								<img src="{{imageOnInspect}}" alt="product-thumb" class="img-fluid border rounded-3">
							</div>
						</div>
					</div>

					<div class="swiper large-swiper rounded-3 overflow-hidden">
						<div class="swiper-wrapper">
							<div class="swiper-slide bg-white">
								<img src="{{imageOnInspect}}" alt="single-product" class="img-fluid">
							</div>
							<div class="swiper-slide bg-white">
								<img src="images/product-large-2.png" alt="single-product" class="img-fluid">
							</div>
							<div class="swiper-slide bg-white">
								<img src="images/product-large-3.png" alt="single-product" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="product-info ps-lg-5 pt-3 pt-lg-0">
					<div class="element-header">
						<h1 class="product-title">{{name}}</h1>
						<div class="product-price d-flex align-items-center mt-2">
							<span class="fs-2 fw-light text-primary me-2">${{price}}</span>
							<del>${{priceOnSale}}</del>
						</div>
						<div class="rating text-warning d-flex align-items-center mb-2">
							<svg class="star star-fill">
								<use xlink:href="#star-fill"></use>
							</svg>
							<svg class="star star-fill">
								<use xlink:href="#star-fill"></use>
							</svg>
							<svg class="star star-fill">
								<use xlink:href="#star-fill"></use>
							</svg>
							<svg class="star star-fill">
								<use xlink:href="#star-fill"></use>
							</svg>
							<svg class="star star-fill">
								<use xlink:href="#star-fill"></use>
							</svg>
						</div>
					</div>
					<p>Just a phenomenal product. WOW</p>
					<hr>
					<div class="cart-wrap">
						<div class="swatch product-select" data-option-index="1">
							<h4 class="item-title text-decoration-underline text-capitalize">Size(Height/Length/Width)</h4>
							{{stringSize}}
						</div>
						<div class="product-quantity my-3">
							<div class="item-title">
								<l>{{inStock}} in stock</l>
							</div>
							<div class="stock-button-wrap mt-2 d-flex flex-wrap align-items-center">
								<div class="product-quantity">
									<div class="input-group product-qty align-items-center" style="max-width: 150px;">
                                        <span class="input-group-btn">
                                            <button type="button" class="bg-white shadow border rounded-3 fw-light quantity-left-minus" data-type="minus" data-field="">
                                                <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                            </button>
                                        </span>
										<input type="text" id="quantity" name="quantity" class="form-control bg-white shadow border rounded-3 py-2 mx-2 input-number text-center" value="1" min="1" max="100" required>
										<span class="input-group-btn">
                                            <button type="button" class="bg-white shadow border rounded-3 fw-light quantity-right-plus" data-type="plus" data-field="">
                                                <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                            </button>
                                        </span>
									</div>
								</div>
							</div>
						</div>
						<div class="action-buttons my-3 d-flex flex-wrap gap-3">
							<a href="#" class="btn" onclick="handleOrderNow('{{articleNo}}','{{quantity}}')">Order now</a>
							<a href="#" class="btn btn-dark" onclick="handleAddToCart('{{articleNo}}')">Add to cart</a>
						</div>
					</div>
					<hr>

				</div>
			</div>

		</div>
	</div>
	</div>
</section>
{{/plushie}}
{{> partials/footer }}

<script>
	document.addEventListener("DOMContentLoaded", function() {

		window.handleAddToCart = async function(articleId) {
			var article = await findArticleById(articleId);
			addToCart(article);
		};

		window.handleOrderNow = async function(articleId, quantity) {

			quantity = document.getElementById("quantity").value;

			console.log("artickleid",articleId)
			console.log("quantity",quantity)
			window.location.href = `checkout.html?articleNo=${articleId}&quantity=${quantity}`;
		};

		async function findArticleById(id) {
			console.log(id)
			id = parseInt(id)
			return fetch('/api/article?id='+ id)
					.then(response => response.json())
					.then(data => {
						return data
					})
					.catch(error => console.error('Error:', error));
		}

		async function addToCart(item) {
			item.quantity = document.getElementById("quantity").value; // Add the quantity to the item object
			fetch('/api/addToCart', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(item) // Send the modified item object
			}).then(response => {
				if (response.ok) {
					console.log('Item added to Cart successfully!');
					location.reload();
				} else {
					console.error('Failed to add Item to Cart');
				}
			}).catch(error => {
				console.error('Error:', error);
			});
		}
	});
</script>
</body>
</html>
